
* {
  outline: none;
}

body {
  font-family: 'Helvetica Neue', 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: rgb(17, 85, 204);
}

a img {
  border: 0 none;
}

h2 {
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  font-size: 16px;
  color: rgb(48, 57, 66);
  font-weight: normal;
}

hr {
  color: #eee;
  background-color: #eee;
  margin: 20px auto;
  border: 0 none;
  height: 1px;
  width: 740px;
}

input[type="text"] {
  -webkit-border-radius: 2px;
  border: 1px solid #bfbfbf;
  padding: 5px;
}

input[type="text"]:focus {
  border-color: rgb(17, 85, 204);
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjA5MDMwMzEzMUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjA5MDMwMzE0MUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDkwMzAzMTExRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDkwMzAzMTIxRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5pY8xsAAAAbUlEQVR42mL8//8/AzmAEYijgJgHj5ovQMOXYYgmAgEzM/M3IPM/OgaJg+RBrkLHIEJhwYIFC9nY2H4iawLxQeIgeVwaMTQT0oSsEa6Zj4/vCyFN6BrBmt++fdtESBMIM2KJDlYg/k0oOgACDABJirkKokz/DAAAAABJRU5ErkJggg=="), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  padding: 3px 20px 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjA5MDMwMzEzMUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjA5MDMwMzE0MUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDkwMzAzMTExRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDkwMzAzMTIxRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5pY8xsAAAAbUlEQVR42mL8//8/AzmAEYijgJgHj5ovQMOXYYgmAgEzM/M3IPM/OgaJg+RBrkLHIEJhwYIFC9nY2H4iawLxQeIgeVwaMTQT0oSsEa6Zj4/vCyFN6BrBmt++fdtESBMIM2KJDlYg/k0oOgACDABJirkKokz/DAAAAABJRU5ErkJggg=="), -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  color: #333;
}

select:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjA5MDMwMzEzMUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjA5MDMwMzE0MUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDkwMzAzMTExRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDkwMzAzMTIxRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5pY8xsAAAAbUlEQVR42mL8//8/AzmAEYijgJgHj5ovQMOXYYgmAgEzM/M3IPM/OgaJg+RBrkLHIEJhwYIFC9nY2H4iawLxQeIgeVwaMTQT0oSsEa6Zj4/vCyFN6BrBmt++fdtESBMIM2KJDlYg/k0oOgACDABJirkKokz/DAAAAABJRU5ErkJggg=="), -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #444;
}

input[type="button"] {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin-bottom: 0px;
  padding: 3px 7px;
}

input[type="button"]:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
}

input[type="button"]:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}

#logo {
  position: absolute;
  left: 50%;
  top: 62px;
  margin-left: -390px;
}

.retina {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
  .retina {
    display: inline-block;
    height: auto;
    width: 48px;
  }
  .non-retina {
    display: none;
  }
}

#options {
  display: block;
  background-color: #fff;
  border: 1px solid #eee;
  width: 800px;
  margin: 125px auto 30px auto;
  position: relative;
}

#options-tabs {
  display: block;
  position: absolute;
  top: -40px;
  right: 12px;
}

#options-tabs .tab {
  border: 1px solid #eee;
  display: block;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 5px;
  float: left;
  color: #999;
}

#options-tabs .tab:hover {
  color: rgb(48, 57, 66);
}

.tab-current {
  border-bottom: 2px solid #fff !important;
  background: #fff !important;
  color: rgb(48, 57, 66) !important;
}

.tab-content {
  display: none;
  padding: 20px;
}


/***** Translations Tab *****/

#translations-iframe {
  display: block;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

#translations-iframe iframe {
  display: block;
  width: 100%;
  height: 470px;
}


/***** Changelog Tab *****/

#tab-changelog-content p:first-child {
  font-size: large;
}


/***** Options Tab *****/

.help-tip {
  background: url('../images/help.png') no-repeat center center;
  vertical-align: top;
  margin-left: 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
  .help-tip {
    background: url('../images/help-@2x.png') no-repeat center center;
    background-size: 100%;
  }
}

.tip-title {
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px #ddd;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 12px;
  width: 200px;
  display: block;
  padding: 7px 9px;
}

#tab-options-content label {
  font-size: 13px;
  color: rgb(17, 85, 204);
}

#tab-options-content table {
  margin: 0 10px;
  width: 740px;
}

.cell-left, .cell-right {
  width: 50%;
  vertical-align: top;
}

#rhlistorder {
  margin: 0;
  padding: 0;
}

#rhlistorder li {
  -webkit-border-radius: 3px;
  margin-bottom: 3px;
  list-style-type: none;
  background: url('../images/move.png') no-repeat right center #eee;
  padding: 10px 12px;
  font-size: small;
  cursor: move;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
  #rhlistorder li {
    background: url('../images/move-@2x.png') no-repeat right center #eee;
    background-size: 21px 14px;
  }
}

#rhitemstyle {
  display: block;
  width: 337px;
  border-bottom: 1px solid #ccc;
  margin-left: 28px;
  font-size: small;
  white-space: nowrap;
  position: relative;
  padding: 2px 0;
  text-decoration: none;
}

#rhitemstyle:hover {
  -webkit-border-radius: 2px;
  background-color: #ebeff9;
}

#rhitemstyle-icon {
  position: absolute;
  display: block;
  top: 2px;
  left: -26px;
}

#rhitemstyle-title {
  display: block;
  margin-left: 2px;
  color: rgb(17, 85, 204);
}

#rhitemstyle-info, #rhitemstyle-url {
  font-size: x-small;
  color: #888;
}

#rhitemstyle-infourl {
  display: block;
  margin-left: 2px;
  overflow: hidden;
}

#mvlist, #flist {
  -webkit-border-radius: 2px;
  border: 1px solid #abadb3;
  overflow-x: hidden;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 5px;
  width: 363px;
}

#mvlist-table, #flist-table {
  width: 100% !important;
  margin: 0 !important;
  border-spacing: 0;
  padding: 0;
}

#flist-add-i {
  margin-right: 5px;
}

#save-holder {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 150px;
}

#save {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #555;
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
}

#save:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
}

#save:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}

.op-item {
  background-color: #fafafa;
}

.op-item td {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  padding: 3px 5px;
}

.op-item td div {
  display: block;
  width: 320px;
  overflow-x: hidden;
}

.slider {
  background-color: #eee;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  width: 293px;
  height: 10px;
}

.handle {
  background: url('../images/handle-bg.png') no-repeat center center;
  cursor: inherit;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 20px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
  .handle {
    background: url('../images/handle-bg-@2x.png') no-repeat center center;
    background-size: 100%;
  }
}
