
body {
  overflow-x: hidden;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

a {
  color: blue;
  text-decoration: none;
}

.time {
  color: #888;
}

.title {
  margin-left: 30px;
  color: blue;
}

.favicon {
  position: absolute;
  left: 42px;
  top: 2px;
  height: 16px;
  width: 16px;
}

.item {
  color: #ccc;
  position: relative;
  display: block;
  padding: 2px 0;
  -webkit-border-radius: 3px;
}

.item:hover {
  background-color: #ebeff9;
}

.delitem, .item-padding {
  display: none;
}

#upgradeinstall {
  display: block;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 0;
}

#upgradeinstall a {
  color: red;
  text-decoration: underline;
}

#showhistoryblock {
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
  color: blue;
  font-weight: bold;
  text-align: left;
  margin-top: 5px;
  padding-top: 5px;
}

#showhistorylinkfix {
  padding: 0 7px;
  background: url('../images/seperator.gif') no-repeat center center;
}

#insert {
  overflow-x: hidden;
}

.rhtitle {
  display: block;
  padding: 5px 0;
  background: url('../images/rhtitle-bg.gif') repeat-x center;
  text-align: right;
}

.rhtitle span {
  color: #888;
  background-color: #fff;
  padding-left: 5px;
}

#rhpabout {
  background: url('../images/rh-popup-about.gif') left center no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  float: left;
}

#rhpoptions {
  background: url('../images/rh-popup-options.gif') left center no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 3px;
}

#rhpmanager {
  background: url('../images/rh-popup-manager.gif') left center no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 3px;
}

#rhpclear {
  background: url('../images/rh-popup-clear.gif') left center no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 3px;
}

#rhpclearyes {
  background: url('../images/rh-popup-es.gif') right center no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 3px;
}

#rhpclearno {
  background: url('../images/rh-popup-es.gif') left center no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 3px;
}

#rhpclearconfirm {
  display: none;
}

#rhpabout:hover, #rhpoptions:hover, #rhpmanager:hover, #rhpclear:hover {
  background-position: right center;
}

#popup-top {
  width: 100%;
  margin-bottom: 5px;
}

#popup-top form {
  padding: 0;
  margin: 0;
}

#popup-top input {
  margin: 0;
}

#popup-search {
  color: #999;
}

#popup-search-close {
  padding-right: 20px;
  cursor: pointer;
  background: url('../images/delete.gif') no-repeat right center;
}

#popup-search-close:hover {
  background: url('../images/delete-select.gif') no-repeat right center;
}

#popup-search-insert {
  display: none;
}
