
body {
  overflow-x: hidden;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin: 10px;
  padding: 0;
}

a {
  color: blue;
  text-decoration: none;
}

form {
  padding: 0;
  margin: 0;
}

#main-table {
  width: 100%;
}

#logo {
  width: 67px;
}

#rh-search {
  margin-left: 14px;
  margin-top: 5px;
  width: 155px;
  border: 1px solid #bbb;
  height: 22px;
}

#rh-bar {
  background-color: #ebeff9;
  border-top: 1px solid #9cc2ef;
  font-size: small;
  font-weight: bold;
  margin-top: 12px;
  display: block;
  padding-top: 2px;
  height: 29px;
}

#rh-bar div {
  padding: 0 5px;
}

#rh-bar input[type=button] {
  height: 24px;
}

#rh-items-manager {
  font-size: small;
  display: block;
  margin: 11px 0;
}

#rh-search-submit {
  width: 26px;
  height: 22px;
  border: 0 none;
  background: url('../images/search.gif') center center no-repeat;
  cursor: pointer;
}

#rh-clear-search {
  padding-right: 20px;
  cursor: pointer;
  background: url('../images/delete.gif') no-repeat right center;
}

#rh-clear-search:hover {
  background: url('../images/delete-select.gif') no-repeat right center;
}

#history-insert {
  display: inline;
}

#search-history-insert {
  display: none;
}

.time {
  color: #888;
}

.title {
  margin-left: 30px;
  color: blue;
}

.favicon {
  position: absolute;
  left: 42px;
  top: 2px;
  height: 16px;
  width: 16px;
}

.item {
  color: #ccc;
  position: relative;
  display: block;
  padding: 2px 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
}

.item:hover {
  background-color: #ebeff9;
}

.rh-delete-cb {
  display: block;
  float: left;
  margin: 0 10px 0 25px;
}

#loading-div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/loading-bg.png');
  z-index: 10;
}

#loading-holder {
  background: url('../images/loading.gif') no-repeat center center;
}

#rh-delete-all {
  display: block;
  position: fixed;
  top: 153px;
  left: 10px;
  height: 16px;
  width: 16px;
  background: url('../images/rh-popup-clear.gif') left center no-repeat;
  cursor: pointer;
}

#rh-delete-all:hover {
  background: url('../images/rh-popup-clear.gif') right center no-repeat;
}

#rh-delete-loading {
  display: none;
  position: fixed;
  top: 174px;
  left: 10px;
  height: 16px;
  width: 16px;
  background: url('../images/deleting.gif') left center no-repeat;
}
