
h2 {
  direction: rtl;
  text-align: right;
}

.cell-left {
  text-align: right;
}

.help-tip {
  margin-right: 3px;
}

#rhlistorder li {
  background-position: 6px 6px;
  text-align: right;
}

#rhitemstyle-title {
  text-align: left;
}

#tab-translations-content {
  text-align: right;
  direction: rtl;
}

#tab-about-content #rh-about-extension, #tab-about-content ol {
  text-align: right;
  direction: rtl;
}

#logo {
  right: 50%;
  left: auto;
  margin-left: 0;
  margin-right: -390px;
}

#options-tabs {
  right: auto;
  left: 12px;
}

#options-tabs .tab {
  float: right;
}
